
body{
	background-color: #edf0da;
	color: #f1bf98
}


.navbar-default{
	background-color: #8c1c13;
	color: #edf0da;
}

h2 {
    color: #8c1c13;
}

hr {
	border-top-color: #8c1c13 !important;
}

.navbar-default .navbar-brand{
	color: #f0dfad;
}

blockquote{
	border-left:5px solid #8c1c13;
}

.btn{
	background-color: #8c1c13;
	color: #f0dfad;
}

.form-control{
	background-color: #f0dfad;
	color: #a89b8c;
}

/* esquema de cores: 
	Chinese Red : #8c1c13
	Pale Gold: #f1bf98;
	Eggshell: #edf0da;
	Grullo: #a89b8c;
	Peach Yellow: #f0dfad;
; */